body{
    font-family: "Slabo 27px";
    text-align: center;
}
#describe {
    font-size: 20px;
}
.logo {
    position:relative;
}
.logo img {
    position:relative;
    width:100%;
    height:auto;
}
.logo div {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 25%;
}
.logo a {
    display: block;
    margin: 0 auto;
}
.start {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.6);
    padding: 25px 80px 25px 80px;
    font-size: 50px;
    font-family: "Slabo 27px";
}
#heading {
    text-align: center;
    font-family: "Slabo 27px";
    font-size: 50px;
}


#answer1, #answer2{
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
    color: #ffffff;
    background-color: #00abb0;
    padding: 25px 80px 25px 80px;
    font-size: 20px;
    font-family: "Slabo 27px";
}
#business {
float: right;
width: 550px;
}
#nature {
    float: left;
    width: 550px;
}
#job {
    margin-top: 30px;
}
#counter {
    position: absolute;
    display: none;
    padding: 10px 50px 10px 10px;
    right: 20%;
    font-family: "Slabo 27px";
    background-color: #00abb0;
    color: white;
    border-radius: 15px;
}
.start:hover, #answer1:hover, #answer2:hover{
    background-color: rgba(0, 20, 250, .5);
    transition: all 1s;
}
